@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

:root {
    --header-height: 3rem;
    /* Font Colors */

    --first-color: #069c54;
    --first-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #a6a6a6;
    --body-color: #fbfbfb;
    --container-color: #ffffff;

    /* Font and Typograph */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font Weight */

    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margins */

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* Z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

*,::before,::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Body dark-theme */

body.dark-theme{
    --title-color: #F1F3F2;
    --text-color: #C7D1CC;
    --body-color: #1D2521;
    --container-color: #27302C;
  }

/* Light/Dark Button */

.change-theme {
    position: absolute;
    right: 1rem;
    top: 1.8rem;
    color: var(--text-color);
    font-size: 1rem;
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color)
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;

}

h1,h2,h3,p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* .home,
.services,
.app {
    background-color: #f8f8f8;
}


.footer {
    background-color: #f5f5f5;
} */

.section {
    padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
}

.section-subtitle {
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

/* Layout */

.bd-container {
    max-width: 960px; 
    width: calc(100% - 2rem);
    margin: 0 var(--mb-2);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}


@media screen and (min-width: 768px) {
    :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}
